#head_name .row {
    align-items: center;
}

.sweet-alert button {
    background-color: #43BE31 !important;
}

.sweet-alert p {
    color: #181818 !important;
    font-size: 24px !important;
}

.sweet-alert .sa-icon.sa-info::before,
.sweet-alert .sa-icon.sa-info::after {
    background-color: #FF3031 !important;
}

.sweet-alert .sa-icon.sa-info {
    border-color: #43BE31 !important;
}

#head_name h1 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    letter-spacing: normal;
    font-weight: 600;
    color: #181818;
}

#head_name h2 {
    font-size: 40px;
    letter-spacing: normal;
    font-weight: 400;
    color: #181818;
}

#head_img img {
    border-radius: 50%;
    height: 270px;
    width: 200px !important;
}

.btn .pushy__btn {
    margin-top: 20px;
    padding-left: 0 !important;
}

.btn .pushy__btn a {
    background-color: #181818 !important;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    border-radius: 15px;
}

.pushy__btn:hover {
    background: white;
    transition: none;
    border: 1.5px solid #181818;
}

.pushy__btn:hover a {
    color: black;
}

#font-icons .fa {
    font-size: 22px;
    color: #181818;
    margin-top: 20px;
}

#font-icons .btn-icon {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

#font-icons p:hover {
    transform: scale(1.1);
}

.darkmode--activated h1,
.darkmode--activated h2,
.darkmode--activated h5,
.darkmode--activated .fa {
    color: white !important;
}

.darkmode--activated .pushy__btn--black {
    background-color: white;
    color: #181818;
}

.darkmode--activated .pushy__btn--black a {
    color: #181818;
}

.darkmode--activated .fa-download {
    /* background-color: white; */
    color: #181818 !important;
}

.darkmode--activated .pushy__btn:hover {
    background: #181818;
    transition: none;
    border: 1px solid #ffffff;
}

.darkmode--activated .pushy__btn:hover a {
    color: #ffffff;
}

.darkmode--activated .pushy__btn:hover .fa-download {
    color: #ffffff !important;
}

@media only screen and (max-width: 765px) {
    .col-xs-12 {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0 !important;
    }

    .darkmode--activated h1,
    .darkmode--activated h2,
    .darkmode--activated h5,
    .darkmode--activated .fa {
        color: white !important;
    }

    #head_name h1 {
        font-size: 42px;
        font-weight: 900;
    }

    #head_name h2 {
        font-size: 38px;
    }

    #head_img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.darkmode-toggle {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    border: none;
    animation: shadow-pulse 1s infinite;
}

.darkmode--activated .darkmode-toggle {
    animation: shadow-pulse-white 1s infinite;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.9);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-white {
    0% {
        box-shadow: 0 0 0 0px rgb(255, 255, 200);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}